<div class="admin-guide site-tag-add">
    <div class="hd clearfix">
        <h3 class="title">后台设置-标签添加</h3>
    </div>
    <div class="bd">
        <form action="/site_tag_add" method="post" id="addForm">
            <ul class="union-form">
                <li class="field">
                    <label class="field-label">标签名称：</label>
                    <input type="text" class="input" name="name">
                </li>
                <li class="field">
                    <label class="field-label">&nbsp;</label>
                    <a href="#" id="submit" class="btn btn-size25">提交</a>
                </li>
            </ul>
        </form>
    </div>

    <script type="text/javascript">
        seajs.use(['jquery'],function($){
            $(function(){
                $('#submit').click(function(e){
                    e.preventDefault();
                    $('#addForm').submit();
                });
            });
        });
    </script>
</div>