<% if(locals.error){ %>
<div class="alert"><%= error %> </div>
<% } %>

<div class="admin-guide site-manage">
    <div class="hd clearfix">
        <h3 class="title">后台设置-标签管理</h3>
    </div>
    <div class="bd">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        <a href="/site_tag_add" class="btn btn-size25">新增标签</a>
                    </th>
                </tr>
                <tr>
                    <th width="120">标签名称</th>
                    <th>标签id</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>