<div class="admin-guide site-manage">
    <div class="hd clearfix">
        <h3 class="title">后台设置-网址管理</h3>
    </div>
    <div class="bd">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        <a href="/site_add" class="btn btn-size25">新增网址</a>
                        <select>
                            <option value="">热门导航</option>
                            <option value="">购物</option>
                            <option value="">视频</option>
                            <option value="">极客</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th width="120">图片</th>
                    <th width="120">标题</th>
                    <th >链接</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <% if(list.length == 0) { %>
                    <tr>
                        <td colspan="4" align="center">
                            该标签下没有网站
                        </td>
                    </tr>
                <% }else { %>
                    <% for (var i = 0, l = list.length; i < l; i++) { %>
                    <tr>
                        <td>
                            <img src="<%= list[i].img %>" alt="">
                        </td>
                        <td><%= list[i].title %></td>
                        <td><a href="<%= list[i].url %>" target="_blank"><%= list[i].url %></a></td>
                        <td>
                            <a href="/site_edit/sid=<%= list[i]._id %>" class="color-blue">编辑</a>
                            <a href="/site_del/sid=<%= list[i]._id %>" class="color-blue">删除</a>
                        </td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>