<div class="admin-guide site-add">
    <div class="hd clearfix">
        <h3 class="title"><a href="/admin">后台设置</a>-网址编辑</h3>
    </div>
    <div class="bd">
        <form action="/site_edit" enctype="multipart/form-data" method="post" id="addForm">
            <input type="hidden" value="<%= site_id %>" name="sid">
            <ul class="union-form">
                <li class="field">
                    <label class="field-label">标签：</label>
                    <select name="tag">
                        <% for (var i = 0, l = tags.length; i < l; i++) { %>
                            <% if(tags[i]._id == site.tag){ %>
                                <option value="<%= tags[i]._id %>,<%= tags[i].name %>" selected><%= tags[i].name %></option>
                            <% }else{ %>
                                <option value="<%= tags[i]._id %>,<%= tags[i].name %>"><%= tags[i].name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </li>
                <li class="field">
                    <label class="field-label">图片：</label>
                    <input type="file" class="input" name="img">
                </li>
                <li class="field">
                    <label class="field-label">标题：</label>
                    <input type="text" class="input" name="title" value="<%= site.title %>">
                </li>
                <li class="field">
                    <label class="field-label">链接：</label>
                    <input type="text" class="input" name="url" value="<%= site.url %>">
                </li>
                <li class="field">
                    <label class="field-label">&nbsp;</label>
                    <a href="#" id="submit" class="btn btn-size25">提交</a>
                </li>
            </ul>
        </form>
    </div>

    <script type="text/javascript">
        seajs.use(['jquery'],function($){
            $(function(){
                $('#submit').click(function(e){
                    e.preventDefault();
                    $('#addForm').submit();
                });
            });
        });
    </script>
</div>