<div class="app">
    <ul class="nav">
        <li class="active"><a href="">应用精选</a></li>
        <li><a href="">限时免费</a></li>
    </ul>

    <div class="app-cnt">
        <ul class="clearfix">
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/545623778.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/336141475.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/477652209.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/458612385.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/438865278.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/448935624.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/458032309.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/448077867.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/414478124.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/395096736.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/348737611.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/444934666.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/465310970.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/553749400.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/365234568.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/517589982.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/503793862.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/489421978.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/441870527.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/551237237.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/434212566.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/409563112.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/525343444.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/361584545.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>

            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/333206289.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/416048305.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/489818954.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="img">
                    <img src="http://www.bnapp.com/uploadpic/logo/352786672.jpg" alt="">
                </div>
                <ul class="attr">
                    <li class="title">牛仔大战外星人</li>
                    <li class="clearfix">
                        <span class="size">35.5MB</span>
                        <span class="view">
                            <i class="iconfont">&#266;</i>1200
                            <i class="iconfont">&#362;</i>1200
                        </span>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>