<div class="site" id="site">
    <div class="site-bd">
        <% _.each(data.result,function(value, key, list){ %>
        <div class="panel">
            <div class="hd">
                <div class="tag"><%= key %></div>
            </div>
            <div class="bd">
                <ul class="clearfix">
                    <% _.each(value,function(item){ %>
                    <li><a href="<%= item.url %>" target="_blank" title="<%= item.title %>"><i></i><img src="<%= item.img %>" /></a></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <% }) %>
    </div>
</div>