<div class="admin-guide site-set">
    <div class="hd clearfix">
        <h3 class="title">后台设置-网址设置</h3>
        <div class="extra">
            <select>
                <option value="">热门导航</option>
                <option value="">购物</option>
                <option value="">视频</option>
                <option value="">极客</option>
            </select>
            <a href="/site_add" class="btn btn-size25">新增网址</a>
        </div>
    </div>
    <div class="bd">
        <table class="table">
            <thead>
                <tr>
                    <th width="120">图片</th>
                    <th width="120">标题</th>
                    <th >链接</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>sdfsd</td>
                    <td>sdfds</td>
                    <td>sdfds</td>
                    <td>
                        <a href="" class="color-blue">编辑</a>
                        <a href="" class="color-blue">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>