<div class="layout">
    <div class="signin">
        <% if(locals.error){ %>
        <div class="alert"><%= error %> </div>
        <% } %>

        <div class="hd">
            <h3 class="title">初始化</h3>
        </div>
        <div class="bd">
            <form action="/initadmin" method="post" id="initForm">
                <ul class="union-form">
                    <li class="field">
                        <div class="input">
                            <label class="field-label">用户名：</label>
                            <input type="text" class="field-text" name="name">
                        </div>
                    </li>
                    <li class="field">
                        <div class="input">
                            <label class="field-label">密<b class="blank"></b>码：</label>
                            <input type="password" class="field-text" name="pass">
                        </div>
                    </li>
                    <li class="field">
                        <div class="input">
                            <label class="field-label">&nbsp;</label>
                            <a href="" class="button-m" id="submit">提 交</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
        $(function(){
            $('#submit').click(function(e){
                e.preventDefault();
                $('#initForm').submit();
            });
        });
    </script>
</div>