<div class="layout">
    <div class="article-edit">
        <div class="hd">
            <h3 class="title">文章编辑</h3>
        </div>
        <div class="bd">
            <form action="/articleedit" method="post" id="editForm">
                <input type="hidden" value="<%= article._id %>" name="id">
                <ul class="union-form">
                    <li class="field">
                        <p class="field-label2">标题</p>
                        <input type="text" class="field-text" name="title" value="<%= article.title %>">
                    </li>
                    <li class="field">
                        <p class="field-label2">内容</p>
                        <textarea class="field-textarea" name="content"><%= article.markdown %></textarea>
                    </li>
                    <li class="field">
                        <div class="input">
                            <a href="" class="button-m" id="submit">保 存</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('#submit').click(function(e){
                e.preventDefault();
                $('#editForm').submit();
            });
        });
    </script>
</div>