<div class="box recent">
    <div class="hd">
        <h3 class="title">最新文章</h3>
    </div>
    <div class="bd">
        <ul>
            <% for (var i = 0, l = recent_article.length; i < l; i++) { %>
            <li><a href="/article/<%= recent_article[i]._id %>" target="_blank"><%= recent_article[i].title %></a></li>
            <% } %>
        </ul>
    </div>
</div>

<div class="box tag">
    <div class="hd">
        <h3 class="title">标签分类</h3>
    </div>
    <div class="bd">
        <ul class="taglist ks-clear">
            <li class="item"><span class="q-icon"></span></li>
            <li class="item"><a href="/">全部</a></li>
            <li class="item"><a href="/tag/javascript"><nobr>javascript</nobr></a></li>
            <li class="item"><a href="/tag/nodejs"><nobr>nodejs</nobr></a></li>
            <li class="item"><a href="/tag/css"><nobr>css</nobr></a></li>
            <li class="item"><a href="/tag/less"><nobr>less</nobr></a></li>
            <li class="item"><a href="/tag/github"><nobr>github</nobr></a></li>
            <li class="item"><a href="/tag/html5"><nobr>html5</nobr></a></li>
            <li class="item"><a href="/tag/markdown"><nobr>markdown</nobr></a></li>
            <li class="item"><a href="/tag/mongdb"><nobr>mongdb</nobr></a></li>
        </ul>
    </div>
</div>

<!-- <div class="box photos">
    <div class="hd">
        <h3 class="title">photos</h3>
    </div>
    <div class="bd">
        <ul>
            <li>
                <a href=""><img src="/photos/1.jpg" alt=""></a>
            </li>
        </ul>
    </div>
</div> -->

<div class="box attention">
    <div class="hd">
        <h3 class="title">前端小站</h3>
    </div>
    <div class="bd">
        <ul class="pic-link ks-clear">
            <li><a href="http://w3ctech.com/" target="_blank"><img src="/images/w3ctech.png" alt=""></a></li>
            <li><a href="http://cnodejs.org/" target="_blank"><img src="/images/cnodejs.png" alt=""></a></li>
            <li><a href="http://www.mhtml5.com/" target="_blank"><img src="/images/html5.png" alt=""></a></li>
            <li><a href="https://developers.google.com/chrome/?hl=zh-CN" target="_blank"><img src="/images/googledevelopers.png" alt=""></a></li>
            <li><a href="http://www.trans4fun.org/" target="_blank"><img src="/images/qianduan.png" alt=""></a></li>
        </ul>
        <!-- <ul class="word-link ks-clear">
            <li><a href="">逸才</a></li>
            <li><a href="">黄龙</a></li>
            <li><a href="">崇志</a></li>
            <li><a href="">三水清</a></li>
            <li><a href="">逸才</a></li>
            <li><a href="">黄龙</a></li>
            <li><a href="">崇志</a></li>
            <li><a href="">三水清</a></li>
            <li><a href="">逸才</a></li>
            <li><a href="">黄龙</a></li>
            <li><a href="">崇志</a></li>
            <li><a href="">三水清</a></li>
        </ul> -->
    </div>
</div>

<div class="box weibo">
    <a href="http://weibo.com/u/1790047864"target="_blank">记事本@新浪微博</a>
</div>

